.description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 10%;
}

.description__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding: 7% 18% 0 0;
}

.description__subtitle {
  font-size: 24px;
  line-height: 34px;
  padding: 0 25% 0 0;
  margin: 1%;
}

.description__signature {
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  padding: 0 27% 0 0;
  margin: 0;
}

.description__text {
  font-size: 16px;
  line-height: 163%;
  padding: 2% 29% 0 0;
}

@media screen and (max-width: 768px) {
  .description {
    padding: 0 2%;
  }
  .description__title {
    padding: 7% 2% 0 0;
    font-size: 45px;
    line-height: 49px;
  }
  .description__subtitle {
    padding: 0 0;
  }
  .description__signature {
    padding: 0 0;
  }
  .description__text {
    padding: 2% 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .description {
    padding: 0 4.5%;
  }
  .description__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  .description__subtitle {
    line-height: 30px;
  }
  .description__text {
    padding: 2% 0 0 0;
  }
}
