.logo {
  display: flex;
  justify-content: center;
}

.logo__image {
  margin-top: 2%;
}
@media screen and (max-width: 768px) {
  .logo__image {
    max-height: 66px;
  }
}
@media screen and (max-width: 320px) {
  .logo__image {
    max-height: 52px;
  }
}
