.places {
  padding: 0 10%;
}

.places__place {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 20% 70% 5%;
  gap: 4%;
  margin-top: 15%;
}

.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: center;
  margin: 0;
}

.places__artists {
}

.places__artists-title {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
}

.places__artists-text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.places__image {
  width: 100%;
}

.places__paragraph {
  margin: 2% 0 0 0;
  font-size: 18px;
  line-height: 163%;
}

.places__button {
}
